<div class="row justify-content-md-center mt-5">
  <div class="col-6 align-self-center">
    <h1>Culturas</h1>
  </div>
  <div class="col-2 align-self-center">
    <button mat-stroked-button class="float-right" color="primary" (click)="openNewDialog()">Adicionar uma
      cultura</button>
  </div>
</div>

<div class="row justify-content-md-center">
  <div class="col-8">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" width="100%">
      <ng-container matColumnDef="idcultura">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let cultura">{{cultura.idcultura}}</td>
      </ng-container>

      <ng-container matColumnDef="tipo_cultura">
        <th mat-header-cell *matHeaderCellDef>Tipo da Cultura</th>
        <td mat-cell *matCellDef="let cultura">{{cultura.tipo_cultura}}</td>
      </ng-container>

      <ng-container matColumnDef="data_plantio">
        <th mat-header-cell *matHeaderCellDef>Data Plantio</th>
        <td mat-cell *matCellDef="let cultura">{{cultura.data_plantio}}</td>
      </ng-container>

      <ng-container matColumnDef="dias_colheita">
        <th mat-header-cell *matHeaderCellDef>Dias até a colheita</th>
        <td mat-cell *matCellDef="let cultura">{{cultura.dias_colheita}}</td>
      </ng-container>

      <ng-container matColumnDef="qtd_plantada">
        <th mat-header-cell *matHeaderCellDef>Quantidade Plantada</th>
        <td mat-cell *matCellDef="let cultura">{{cultura.qtd_plantada}}</td>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matCellDef></th>
        <td mat-cell *matCellDef="let bike">
          <button mat-stroked-button class="float-right" color="blue" (click)="openEditDialog(bike)">Editar</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let cultura; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
